.section {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-color: var(--background);
  transition: background-color 0.3s;
  padding: 3rem 1rem;
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text {
  text-align: left;
}

.message {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-secondary);
  line-height: 1.47059;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

