.tooltipContainer {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  z-index: 50;
  pointer-events: none;
}

.tooltipWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  padding: 0.375rem 0.75rem;
  background-color: var(--tooltip-bg);
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  color: var(--foreground);
  font-size: 0.75rem;
  font-weight: 300;
  border-radius: 0.5rem;
  white-space: nowrap;
  letter-spacing: normal;
  position: relative;
  z-index: 0;
}

.tooltipArrowOuter {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -0.075rem;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  filter: drop-shadow(0 1px 0px var(--border-color));
  z-index: 2;
}

.tooltipArrowInner {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--tooltip-bg);
  z-index: 3;
}



