.tocContainer {
  position: fixed;
  left: calc(50% + 340px);
  top: 14vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
  align-items: flex-start;
}

.tocList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.tocItem {
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--text-secondary);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tocItem:hover {
  color: var(--foreground);
}

.active {
  color: var(--foreground);
  font-weight: 500;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .tocContainer {
    display: none;
  }
}

